{% extends "layout.html" %}
{% block sidebar %}{% include "cupboard-sidebar.html" %}{% endblock %}
{% block page_title %}Cupboard{% endblock %}
{% block body %}
  <div class="section" id="the-debian-janitor">
<h1>Cupboard</h1>
<div class="toctree-wrapper compound">
<ul>
<li class="toctree-l1"><a class="reference internal" href="queue">Queue</a></li>
<li class="toctree-l1"><a class="reference internal" href="history">History</a></li>
<li class="toctree-l1"><a class="reference internal" href="pkg">Packages by name</a></li>
<li class="toctree-l1"><a class="reference internal" href="maintainer">Packages by maintainer</a></li>
<li class="toctree-l1"><a class="reference internal" href="result-codes">Result Codes</a></li>
<li class="toctree-l1"><a class="reference internal" href="ready">Ready</a></li>
<li class="toctree-l1"><a class="reference internal" href="publish">Publish history</a></li>
<li class="toctree-l1"><a class="reference internal" href="stats">Statistics</a></li>
<li class="toctree-l1"><a class="reference internal" href="failed-lintian-brush-fixers">Lintian Brush Fixer Failures</a></li>
<li class="toctree-l1"><a class="reference internal" href="lintian-brush-regressions">Lintian Brush Regressions</a></li>
<li class="toctree-l1"><a class="reference internal" href="vcs-regressions">VCS Regressions</a></li>
</ul>
</div>
</div>
{% endblock %}
