{% extends "layout.html" %}
{% block sidebar %}{% include "multiarch-fixes-sidebar.html" %}{% endblock %}
{% block page_title %}Multi-Arch Fixes{% endblock %}
{% block body %}

<div class="section" id="multiarch-fixes">
<h1>Multi-Arch Hint Fixes</h1>

TODO

</div>

{% endblock %}
