{% extends "layout.html" %}
{% block sidebar %}{% include "cupboard-sidebar.html" %}{% endblock %}
{% from "lintian-fixes-util.html" import lintian_brush_summary %}
{% block page_title %}Changes ready to publish{% if suite %} - {{ suite }}{% endif %}{% endblock %}
{% block body %}
 <div class="section" id="history">
<h1>Ready to publish</h1>
<ul>
{% for run, maintainer_email, uploader_emails, branch_url, publish_mode, changelog_mode, compat_release in runs %}
<li><a href="pkg/{{ run.package }}/{{ run.id }}">{{ run.package }}</a>{% if run.command.startswith('lintian-brush') %}
{{ lintian_brush_summary(run.result['applied']) }}
{% elif run.command.startswith('new-upstream ') %}
{% if '--snapshot' in run.command %}: Merge new upstream snapshot <b>{{ run.result['upstream_version'] }}</b>
{% else %}: Merge new upstream release <b>{{ run.result['upstream_version'] }}</b> {% endif %}
{% else %}: Unknown command {{ run.command }}
{% endif %}
</li>
{% endfor %}
</ul>
</tbody>
</table>
{% endblock %}
