{% extends "layout.html" %}
{% block sidebar %}{% include "cupboard-sidebar.html" %}{% endblock %}
{% block page_title %}Review{% endblock %}
{% block body %}
<div class="section" id="review">
<h1>Review</h1>

<div id='diff'>
{{highlight_diff(show_diff())|safe}}
</div>

<div id='debdiff'>
{{show_debdiff()|safe}}
</div>

<script type="text/javascript">
function loadRun(package, run_id) {
    $('#diff').load('/api/run/' + run_id + '/diff');
    $('#debdiff').load('/api/run/' + run_id + '/debdiff?filter_boring=1',
        undefined,
        function(responseText, textStatus, XMLHttpRequest) {
             if (XMLHttpRequest.status == 404) {
                  $('#debdiff').html('<p>No debdiff generated</p>');
             }
        }
    );
    $('#full-run-link').attr('href', "/cupboard/pkg/" + package + "/" + run_id);
    $('#run-id').attr('value', run_id);
}

var todo = {{ todo|tojson }};
var queued = new Set();
todo.forEach(function(entry) { queued.add(entry[1]); });

$(function() {
  loadRun('{{ package_name }}', '{{ run_id }}');
  $('.review-button').attr('type', 'button');
  $.ajax({
     url: '/api/{% if suite %}{{ suite }}/{% endif %}publish-ready?review-status=unreviewed',
     dataType: 'json',
     success: function(data) {
         data.forEach(function(entry) {
             if (!queued.has(entry[1])) {
                 todo.push(entry);
                 queued.add(entry[1]);
             }
         });
     }
  });
});

function submitReview(elem, status) {
    elem.blur();
    var run_id = $('#run-id').val();
    console.log("Submitting review " + status + " for run " + run_id);
    $.post('/api/run/' + run_id, {'review-status': status});
    if (todo.length > 0) {
      var newJob = todo[0];
      todo.shift();
      loadRun(newJob[0], newJob[1]);
    } else {
      $('#diff').replaceWith('All done!');
      $('#debdiff').replaceWith('');
      $('#options').remove();
      $('#full-run-link').remove();
    }
}
</script>


<form action="/cupboard/review" method="POST" id="options">
<input type="hidden" name="run_id" id='run-id' value="{{ run_id }}"/>
<input class='review-button' type="submit" name="review_status" value="Approved" accesskey="a" onclick="submitReview(this, 'approved')">
<input class='review-button' type="submit" name="review_status" value="Rejected" accesskey="r" onclick="submitReview(this, 'rejected')">
<input class='review-button' type="submit" name="review_status" value="Reschedule" accesskey="s" onclick="submitReview(this ,'reschedule')">
</form>

<p><a href="/cupboard/pkg/{{ package_name }}/{{ run_id }}" id="full-run-link">Full Run</a></p>

</div>
{% endblock %}
